<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/Publications">Publications</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	    		  <li><a href="mailto:ben.r.fitzpatrick@gmail.com">Email</a></li>
        		<li><a href="http://orcid.org/0000-0003-1916-0939">ORCID</a></li>
        		<li><a href="https://twitter.com/benrfitzpatrick">Twitter</a></li>
        		<li><a href="https://github.com/brfitzpatrick">GitHub</a></li>
				</ul>
			</footer>
		</body>
	</html>
